<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Classes_init() hook (in hooks/Classes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Classes-Class-<%%VALUE(id)%%>" class="Classes-Class"><%%SELECT%%><%%VALUE(Class)%%><%%ENDSELECT%%></td>
		<td id="Classes-Students_Number-<%%VALUE(id)%%>" class="Classes-Students_Number text-right"><%%SELECT%%><%%VALUE(Students_Number)%%><%%ENDSELECT%%></td>
		<td id="Classes-Type-<%%VALUE(id)%%>" class="Classes-Type"><%%SELECT%%><%%VALUE(Type)%%><%%ENDSELECT%%></td>
		<td class="child-Assignments-ClassID child-records-info" data-id="<%%VALUE(id)%%>" data-table="Assignments" data-lookup-field="ClassID">
		</td>
