<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Heads_init() hook (in hooks/Heads.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Heads-teacher_id-<%%VALUE(id)%%>" class="Heads-teacher_id text-bold"><%%VALUE(teacher_id)%%></td>
		<td id="Heads-class_id-<%%VALUE(id)%%>" class="Heads-class_id text-bold"><%%VALUE(class_id)%%></td>
