<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Lessons_init() hook (in hooks/Lessons.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Lessons-Class-<%%VALUE(id)%%>" class="Lessons-Class"><%%SELECT%%><%%VALUE(Class)%%><%%ENDSELECT%%></td>
		<td id="Lessons-Name-<%%VALUE(id)%%>" class="Lessons-Name"><%%SELECT%%><%%VALUE(Name)%%><%%ENDSELECT%%></td>
		<td id="Lessons-Type-<%%VALUE(id)%%>" class="Lessons-Type"><%%SELECT%%><%%VALUE(Type)%%><%%ENDSELECT%%></td>
		<td id="Lessons-Hours-<%%VALUE(id)%%>" class="Lessons-Hours text-right"><%%VALUE(Hours)%%></td>
		<td id="Lessons-A_assignment-<%%VALUE(id)%%>" class="Lessons-A_assignment"><%%SELECT%%><%%VALUE(A_assignment)%%><%%ENDSELECT%%></td>
		<td id="Lessons-B_assignment-<%%VALUE(id)%%>" class="Lessons-B_assignment"><%%SELECT%%><%%VALUE(B_assignment)%%><%%ENDSELECT%%></td>
		<td id="Lessons-C_assignment-<%%VALUE(id)%%>" class="Lessons-C_assignment"><%%SELECT%%><%%VALUE(C_assignment)%%><%%ENDSELECT%%></td>
		<td class="child-Assignments-LessonID child-records-info" data-id="<%%VALUE(id)%%>" data-table="Assignments" data-lookup-field="LessonID">
		</td>
