<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Projectors_timetable_init() hook (in hooks/Projectors_timetable.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Projectors_timetable-teacher_id-<%%VALUE(id)%%>" class="Projectors_timetable-teacher_id text-bold"><%%VALUE(teacher_id)%%></td>
		<td id="Projectors_timetable-date-<%%VALUE(id)%%>" class="Projectors_timetable-date text-bold"><%%VALUE(date)%%></td>
		<td id="Projectors_timetable-hour_id-<%%VALUE(id)%%>" class="Projectors_timetable-hour_id text-bold"><%%VALUE(hour_id)%%></td>
		<td id="Projectors_timetable-projector_id-<%%VALUE(id)%%>" class="Projectors_timetable-projector_id text-bold"><%%VALUE(projector_id)%%></td>
