<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Assignments_init() hook (in hooks/Assignments.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Assignments-ClassID-<%%VALUE(id)%%>" class="Assignments-ClassID"><%%SELECT%%><%%VALUE(ClassID)%%><%%ENDSELECT%%></td>
		<td id="Assignments-LessonName-<%%VALUE(id)%%>" class="Assignments-LessonName"><%%SELECT%%><%%VALUE(LessonName)%%><%%ENDSELECT%%></td>
		<td id="Assignments-Lesson_A_Assignment-<%%VALUE(id)%%>" class="Assignments-Lesson_A_Assignment"><%%SELECT%%><%%VALUE(Lesson_A_Assignment)%%><%%ENDSELECT%%></td>
		<td id="Assignments-Lesson_B_Assignment-<%%VALUE(id)%%>" class="Assignments-Lesson_B_Assignment"><%%SELECT%%><%%VALUE(Lesson_B_Assignment)%%><%%ENDSELECT%%></td>
		<td id="Assignments-Lesson_C_Assignment-<%%VALUE(id)%%>" class="Assignments-Lesson_C_Assignment"><%%SELECT%%><%%VALUE(Lesson_C_Assignment)%%><%%ENDSELECT%%></td>
		<td id="Assignments-LessonType-<%%VALUE(id)%%>" class="Assignments-LessonType"><%%SELECT%%><%%VALUE(LessonType)%%><%%ENDSELECT%%></td>
		<td id="Assignments-LessonHours-<%%VALUE(id)%%>" class="Assignments-LessonHours text-right"><%%SELECT%%><%%VALUE(LessonHours)%%><%%ENDSELECT%%></td>
		<td id="Assignments-TeacherID-<%%VALUE(id)%%>" class="Assignments-TeacherID"><%%SELECT%%><%%VALUE(TeacherID)%%><%%ENDSELECT%%></td>
		<td id="Assignments-TeacherID2-<%%VALUE(id)%%>" class="Assignments-TeacherID2"><%%SELECT%%><%%VALUE(TeacherID2)%%><%%ENDSELECT%%></td>
		<td id="Assignments-datetime-<%%VALUE(id)%%>" class="Assignments-datetime"><%%SELECT%%><%%VALUE(datetime)%%><%%ENDSELECT%%></td>
