<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: &#917;&#954;&#960;&#945;&#953;&#948;&#949;&#965;&#964;&#953;&#954;&#972;&#962; -->
		<div class="form-group Projectors_timetable-teacher_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#917;&#954;&#960;&#945;&#953;&#948;&#949;&#965;&#964;&#953;&#954;&#972;&#962;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="teacher_id<%%RND1%%>"><%%COMBOTEXT(teacher_id)%%></span></div>
			</div>
		</div>
		<!-- Field: &#919;&#956;&#941;&#961;&#945; -->
		<div class="form-group Projectors_timetable-date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#919;&#956;&#941;&#961;&#945;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date)%%></div>
			</div>
		</div>
		<!-- Field: &#911;&#961;&#945; -->
		<div class="form-group Projectors_timetable-hour_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#911;&#961;&#945;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="hour_id<%%RND1%%>"><%%COMBOTEXT(hour_id)%%></span></div>
			</div>
		</div>
		<!-- Field: &#914;&#953;&#957;&#964;&#949;&#959;&#960;&#961;&#959;&#946;&#959;&#955;&#941;&#945;&#962; -->
		<div class="form-group Projectors_timetable-projector_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#914;&#953;&#957;&#964;&#949;&#959;&#960;&#961;&#959;&#946;&#959;&#955;&#941;&#945;&#962;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="projector_id<%%RND1%%>"><%%COMBOTEXT(projector_id)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
