<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: &#932;&#959;&#956;&#941;&#945;&#962; -->
		<div class="form-group Teachers-SectorID" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#932;&#959;&#956;&#941;&#945;&#962;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="SectorID<%%RND1%%>"><%%COMBOTEXT(SectorID)%%></span></div>
			</div>
		</div>
		<!-- Field: &#917;&#954;&#960;&#945;&#953;&#948;&#949;&#965;&#964;&#953;&#954;&#972;&#962;: -->
		<div class="form-group Teachers-Name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#917;&#954;&#960;&#945;&#953;&#948;&#949;&#965;&#964;&#953;&#954;&#972;&#962;:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Name)%%></div>
			</div>
		</div>
		<!-- Field: Name2 -->
		<div class="form-group Teachers-Name2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Name2<%%RND1%%>"><%%COMBOTEXT(Name2)%%></span></div>
			</div>
		</div>
		<!-- Field: &#932;&#959;&#960;&#959;&#952;&#941;&#964;&#951;&#963;&#951; -->
		<div class="form-group Teachers-Placement" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#932;&#959;&#960;&#959;&#952;&#941;&#964;&#951;&#963;&#951;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Placement)%%></div>
			</div>
		</div>
		<!-- Field: &#913;&#957;&#940;&#955;&#951;&#968;&#951; &#933;&#960;&#951;&#961;&#949;&#963;&#943;&#945;&#962; -->
		<div class="form-group Teachers-Assumption_Date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#913;&#957;&#940;&#955;&#951;&#968;&#951; &#933;&#960;&#951;&#961;&#949;&#963;&#943;&#945;&#962;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Assumption_Date)%%></div>
			</div>
		</div>
		<!-- Field: &#933;&#960;&#959;&#967;&#961;&#949;&#969;&#964;&#953;&#954;&#941;&#962; -->
		<div class="form-group Teachers-Mandatory_Hours" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#933;&#960;&#959;&#967;&#961;&#949;&#969;&#964;&#953;&#954;&#941;&#962;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Mandatory_Hours)%%></div>
			</div>
		</div>
		<!-- Field: &#922;&#973;&#961;&#953;&#945; &#917;&#953;&#948;&#953;&#954;&#972;&#964;&#951;&#964;&#945; -->
		<div class="form-group Teachers-Main_Sector" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#922;&#973;&#961;&#953;&#945; &#917;&#953;&#948;&#953;&#954;&#972;&#964;&#951;&#964;&#945;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Main_Sector)%%></div>
			</div>
		</div>
		<!-- Field: &#920;&#949;&#969;&#961;&#943;&#949;&#962; -->
		<div class="form-group Teachers-Assigned_Hours_Theory" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#920;&#949;&#969;&#961;&#943;&#949;&#962;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Assigned_Hours_Theory)%%></div>
			</div>
		</div>
		<!-- Field: &#917;&#961;&#947;&#945;&#963;&#964;&#942;&#961;&#953;&#945; -->
		<div class="form-group Teachers-Assigned_Hours_Lab" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#917;&#961;&#947;&#945;&#963;&#964;&#942;&#961;&#953;&#945;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Assigned_Hours_Lab)%%></div>
			</div>
		</div>
		<!-- Field: &#931;&#973;&#957;&#959;&#955;&#959; -->
		<div class="form-group Teachers-Assigned_Hours" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#931;&#973;&#957;&#959;&#955;&#959;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Assigned_Hours)%%></div>
			</div>
		</div>
		<!-- Field: &#916;&#953;&#945;&#966;&#959;&#961;&#940; -->
		<div class="form-group Teachers-Diff" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">&#916;&#953;&#945;&#966;&#959;&#961;&#940;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Diff)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="Teachers-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=Teachers-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'Teachers',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'Teachers-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

